* {
	padding: 0px;
	margin: 0px;
}
/*
Roboto-Black.ttf
Roboto-BoldItalic.ttf
Roboto-LightItalic.ttf
Roboto-Regular.ttf
Roboto-BlackItalic.ttf
Roboto-Italic.ttf
Roboto-Medium.ttf
Roboto-Thin.ttf
Roboto-Bold.ttf
Roboto-Light.ttf
Roboto-MediumItalic.ttf
Roboto-ThinItalic.ttf
*/
@font-face {
	font-family: "Roboto";
	src: url("font/Roboto-Light.ttf") format("truetype");
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	src: url("font/Roboto-Bold.ttf") format("truetype");
	font-weight: 200;
	font-style: bold;
}
@font-face {
	font-family: "Roboto";
	src: url("font/Roboto-Italic.ttf") format("truetype");
	font-style: italic;
}
body {
	font-family: "Roboto";
	font-weight: 150;
	font-weight: normal;
	background: white;
}
label {
	font-weight: normal;
}
input[type=search] {
	color: #d1d1d2;
}
header {

}
content {
	width: calc(100% - 20px);
	float: right;
	padding: 10px;
}
header .padding {
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 10px;
}
header aside.left {
	width: 28%;
	float: left;
}
header aside.left .logo {
}
header aside.center {
	width: 44%;
	float: left;
}
header aside.center input[type=search] {
	display: inline-block;
	width: calc(100% - 40px);
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	float: right;
	border: 0px;
}
header aside.right {
	width: 28%;
	float: right;
}
header aside.right .setting,
header aside.right img.avatar {
	float: right;
	margin-left: 10px;
}
content aside.left {
	width: 20%;
	float: left;
}
content aside.left ul.chats {
	list-style: none;
	width: 100%;
	float: left;
	margin: 15px;
	margin-top: 0px;
}
content aside.left ul.chats li {
	display: inline-block;
	width: 100%;
}
content aside.left ul.chats li:hover {
	background: #f3f3f3;
	border-radius: 7px;
}
content aside.left ul.chats li .image {
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}
content aside.left ul.chats li .image .status {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: relative;
	top: -15px;
	left: 37px;
}
content aside.left ul.chats li .image .status.online {
	background: green;
}
content aside.left ul.chats li .image .status.busy {
	background: red;
}
content aside.left ul.chats li .image .status.offline {
	background: orange;
}
content aside.left ul.chats li .info {
	float: right;
	width: calc(100% - 60px);
}
content aside.left ul.chats li .title {
	font-size: 16px;
	margin-top: 18px;
	margin-left: 7px;
	float: left;
	width: 100%;
}
content aside.left ul.chats li .subtitle {
	font-size: 12px;
	color: #929292;
	margin-left: 7px;
}
content aside.center {
	width: 52%;
	float: left;
	margin-left: 30px;
}
content aside.center content {
	margin-left: 10px;
	margin-right: 10px;
}
content aside.center .title {
	font-size: 20px;
	color: black;
	font-weight: bold;
}
content aside.right {
	width: 25%;
	float: right;
	/*background: yellow;*/
	/*height: 500px;*/
}
content aside.right .name {
	margin-top: 20px;
	width: 100%;
	font-size: 22px;
	float: right;
	color: #353a40;
}
content aside.right .button {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	float: right;
	margin-top: 25px;
	margin-bottom: 20px;
}
content aside.right .button button .icon {
	float: left;
	margin-left: 20px;
	margin-top: 11px;
}
content aside.right .button button {
	cursor: pointer;
	text-align: left;
	line-height: 40px;
	width: 46%;
	margin-left: 2%;
	margin-right: 2%;
	float: right;
	background: #fbf5f9;
	border: 0px;
	border-radius: 3px;
	color: #1790f0;
}
content aside.right .active {
	width: 100%;
	font-size: 13px;
	float: right;
	color: #9fa0a2;
}
content aside.center content ul.messages {
}
content aside.center content ul.messages li {
	list-style: none;
}
content aside.center content ul.messages li.me {
	float: right;
}
content aside.center content ul.messages li.other {
	float: left;
}
content aside.center content ul.messages li .message-list {
	max-width: 450px;
}
content aside.center content ul.messages li {
	margin-bottom: 15px;
}
content aside.center content ul.messages li.other .message-list {
	margin-left: 10px;
	float: right;
}
content aside.center content ul.messages li.me .message-list {
	margin-right: 10px;
	float: left;
}
content aside.center content ul.messages li .message {
	width: auto;
	padding: 20px;
	margin-bottom: 5px;
	max-width: 450px;
}
content aside.center content ul.messages li.other .message {
	display: inline-block;
	float: left;
	background: #0b8bf8;
	color: white;
	border-radius: 12px;
	border-bottom-left-radius: 0px;
}
content aside.center content ul.messages li .message:after {
	clear: both;
}
content aside.center content ul.messages li.me .message {
	display: inline-block;
	float: right;
	background: #f0f1f5;
	color: black;
	border-radius: 12px;
	border-bottom-right-radius: 0px;
}
content aside.center content ul.messages li.other .image {
	float: left;
}
content aside.center content ul.messages li.me .image {
	float: right;
}
content aside.center content ul.messages li .footer {
	font-size: 13px;
	color: #bbbbbb;
}
content aside.center content ul.messages li.me .footer {
	float: right;
}
content aside.center content ul.messages li.other .footer {
	float: left;
}
